@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --18-up-font-family: "Manrope", Helvetica;
  --18-up-font-size: 18px;
  --18-up-font-style: normal;
  --18-up-font-weight: 700;
  --18-up-letter-spacing: 0px;
  --18-up-line-height: 25.200000762939453px;
  --24-font-family: "Manrope", Helvetica;
  --24-font-size: 24px;
  --24-font-style: normal;
  --24-font-weight: 800;
  --24-letter-spacing: 0px;
  --24-line-height: 32px;
  --48-font-family: "Manrope", Helvetica;
  --48-font-size: 48px;
  --48-font-style: normal;
  --48-font-weight: 800;
  --48-letter-spacing: 0px;
  --48-line-height: 55px;
  --app-primary: rgba(43, 43, 43, 1);
  --app-secondary: rgba(201, 162, 75, 1);
  --black: rgba(0, 0, 0, 1);
  --black-2: rgba(29, 29, 29, 1);
  --black-3: rgba(40, 40, 40, 1);
  --blue: rgba(255, 255, 255, 1);
  --card: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px
    rgba(145, 158, 171, 0.2);
  --color-white: rgba(255, 255, 255, 1);
  --drop: -20px 20px 40px -4px rgba(145, 158, 171, 0.24), 0px 0px 2px 0px
    rgba(145, 158, 171, 0.24);
  --drop-shadow-400: 0px 4px 4px -4px rgba(12, 12, 13, 0.05), 0px 16px 32px -4px
    rgba(12, 12, 13, 0.1);
  --drop-shadow-600: 0px 16px 32px -8px rgba(12, 12, 13, 0.4);
  --dropdown: -20px 20px 40px -4px rgba(145, 158, 171, 0.24), 0px 0px 2px 0px
    rgba(145, 158, 171, 0.24);
  --gray-00: rgba(255, 255, 255, 1);
  --gray-1: rgba(51, 51, 51, 1);
  --gray-100: rgba(230, 232, 236, 1);
  --gray-2: rgba(79, 79, 79, 1);
  --gray-3: rgba(130, 130, 130, 1);
  --gray-4: rgba(189, 189, 189, 1);
  --gry: rgba(145, 158, 171, 0.32);
  --gry-600: rgba(75, 75, 75, 1);
  --h1-font-family: "Manrope", Helvetica;
  --h1-font-size: 56px;
  --h1-font-style: normal;
  --h1-font-weight: 700;
  --h1-letter-spacing: 0px;
  --h1-line-height: 61.599998474121094px;
  --h2-font-family: "Manrope", Helvetica;
  --h2-font-size: 48px;
  --h2-font-style: normal;
  --h2-font-weight: 700;
  --h2-letter-spacing: 0px;
  --h2-line-height: 52.79999923706055px;
  --h3-font-family: "Manrope", Helvetica;
  --h3-font-size: 40px;
  --h3-font-style: normal;
  --h3-font-weight: 700;
  --h3-letter-spacing: 0px;
  --h3-line-height: 66px;
  --h4-font-family: "Manrope", Helvetica;
  --h4-font-size: 32px;
  --h4-font-style: normal;
  --h4-font-weight: 700;
  --h4-letter-spacing: 0px;
  --h4-line-height: 35.20000076293945px;
  --h5-font-family: "Manrope", Helvetica;
  --h5-font-size: 24px;
  --h5-font-style: normal;
  --h5-font-weight: 700;
  --h5-letter-spacing: 0px;
  --h5-line-height: 26.399999618530273px;
  --h6-font-family: "Manrope", Helvetica;
  --h6-font-size: 20px;
  --h6-font-style: normal;
  --h6-font-weight: 600;
  --h6-letter-spacing: 0px;
  --h6-line-height: 28px;
  --large-text-bold-font-family: "Manrope", Helvetica;
  --large-text-bold-font-size: 20px;
  --large-text-bold-font-style: normal;
  --large-text-bold-font-weight: 700;
  --large-text-bold-letter-spacing: 0px;
  --large-text-bold-line-height: 28px;
  --liner: rgba(255, 255, 255, 1);
  --medium-text-bold-font-family: "Manrope", Helvetica;
  --medium-text-bold-font-size: 18px;
  --medium-text-bold-font-style: normal;
  --medium-text-bold-font-weight: 700;
  --medium-text-bold-letter-spacing: 0px;
  --medium-text-bold-line-height: 25.200000762939453px;
  --medium-text-regular-font-family: "Manrope", Helvetica;
  --medium-text-regular-font-size: 18px;
  --medium-text-regular-font-style: normal;
  --medium-text-regular-font-weight: 400;
  --medium-text-regular-letter-spacing: 0px;
  --medium-text-regular-line-height: 25.200000762939453px;
  --normal-text-bold-font-family: "Manrope", Helvetica;
  --normal-text-bold-font-size: 18px;
  --normal-text-bold-font-style: normal;
  --normal-text-bold-font-weight: 700;
  --normal-text-bold-letter-spacing: 0px;
  --normal-text-bold-line-height: 25.200000762939453px;
  --overview-font-family: "Manrope", Helvetica;
  --overview-font-size: 12px;
  --overview-font-style: normal;
  --overview-font-weight: 700;
  --overview-letter-spacing: 0px;
  --overview-line-height: 14px;
  --red: rgba(255, 255, 255, 1);
  --small-text-bold-font-family: "Manrope", Helvetica;
  --small-text-bold-font-size: 14px;
  --small-text-bold-font-style: normal;
  --small-text-bold-font-weight: 700;
  --small-text-bold-letter-spacing: 0px;
  --small-text-bold-line-height: 19.600000381469727px;
  --small-text-regular-font-family: "Manrope", Helvetica;
  --small-text-regular-font-size: 14px;
  --small-text-regular-font-style: normal;
  --small-text-regular-font-weight: 400;
  --small-text-regular-letter-spacing: 0px;
  --small-text-regular-line-height: 19.600000381469727px;
  --sub-1-font-family: "Manrope", Helvetica;
  --sub-1-font-size: 16px;
  --sub-1-font-style: normal;
  --sub-1-font-weight: 600;
  --sub-1-letter-spacing: 0px;
  --sub-1-line-height: 24px;
  --text-normal-bold-font-family: "Inter", Helvetica;
  --text-normal-bold-font-size: 16px;
  --text-normal-bold-font-style: normal;
  --text-normal-bold-font-weight: 700;
  --text-normal-bold-letter-spacing: 0px;
  --text-normal-bold-line-height: 22.399999618530273px;
  --white: rgba(255, 255, 255, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
